body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
	--black: #121212;

	--white-blue-700: #d0d9ed;
	--white-blue-600: #dce3f2;
	--white-blue-500: #e8ecf6;
	--white-blue-400: #f3f6fb;
	--white-blue-300: #ffffff;


}